.grid-table {
  display: table;
}

.thead {
  display: table-header-group;
  font-weight: bold;
  border-bottom: 1px solid black;
  text-align: center;
  background-color: #f0f8ff;
}

.tbody {
  display: table-row-group;
}

.tr {
  display: table-row;

}

.td {
  display: table-cell;
  padding: 10px 1px 1px 5px;
}

.thead div.tr div.td:last-child {
  background-color: #fff;
}

i:hover {
  cursor: pointer;
}

input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched {
  border-color: #dc3545;
}


.elementToFadeInAndOut {
  -webkit-animation: fadeinout 2s linear forwards;
  animation: fadeinout 2s linear forwards;
  opacity: 0;
}

@-webkit-keyframes fadeinout {
  50% {
    opacity: 1;
  }
}

.margin-left {
  margin-left: 5px !important;
}
