<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header"></div>
        <div class="card-body">

          <div class="row">
            <div class="col-sm-4">
              <h3>Crear Factura</h3>
            </div>
            <div class="col-sm-8">
              <div class="card card-body">
                <form>
                  <div class="form-row">
                    <div class="col-md-5 mb-3">
                      <label for="inlineFormInputNombreEmpresa">Nombre de Empresa</label>
                      <input type="text" class="form-control" id="inlineFormInputNombreEmpresa"
                        [(ngModel)]="factura.nombreEmpresa" name="nombreEmpresa" placeholder="Nombre de Empresa">
                    </div>
                    <div class="col-md-3 mb-3">
                      <label for="inlineFormInputNumeroFactura">Número Factura</label>
                      <input type="text" class="form-control" id="inlineFormInputNumeroFactura"
                        [(ngModel)]="factura.numeroFactura" name="numeroFactura" placeholder="Número Factura" required>
                    </div>
                    <div class="col-md-4 mb-3">
                      <label for="inlineFormInputFecha">Fecha</label>
                      <input type="date" class="form-control" id="inlineFormInputFecha"
                        [(ngModel)]="factura.fechaFactura" name="fechaFactura" placeholder="Fecha" required>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <ul class="list-group my-2">
                <li class="list-group-item list-group-item-primary">Datos del cliente</li>
                <li class="list-group-item">
                  <form>
                    <div class="form-row">
                      <div class="col-md-12 mb-3">
                        <label for="inlineFormInputNombreCliente">Nombre del cliente</label>
                        <input type="text" class="form-control" id="inlineFormInputNombreCliente"
                          [(ngModel)]="factura.cliente.nombreCliente" name="nombreCliente"
                          placeholder="Nombre del cliente">
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-md-9 mb-3">
                        <label for="inlineFormInputDirrecionCliente">Dirección</label>
                        <input type="text" class="form-control" id="inlineFormInputDirrecionCliente"
                          [(ngModel)]="factura.cliente.direccion" name="direccion" placeholder="Dirección">
                      </div>
                      <div class="col-md-3 mb-3">
                        <label for="inlineFormInputCodigoPostalCliente">Código Postal</label>
                        <input type="text" class="form-control" id="inlineFormInputCodigoPostalCliente"
                          [(ngModel)]="factura.cliente.codigoPostal" name="codigoPostal" placeholder="00000">
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-md-4 mb-3">
                        <label for="inlineFormInputCiudadCliente">Ciudad</label>
                        <input type="text" class="form-control" id="inlineFormInputCiudadCliente"
                          [(ngModel)]="factura.cliente.ciudad" name="Ciudad" placeholder="Ciudad">
                      </div>
                      <div class="col-md-3 mb-3">
                        <label for="inlineFormInputPaisCliente">País</label>
                        <input type="text" class="form-control" id="inlineFormInputPaisCliente"
                          [(ngModel)]="factura.cliente.pais" name="pais">
                      </div>
                    </div>
                  </form>
                </li>
              </ul>
            </div>
            <div class="col-sm-6">
              <ul class="list-group my-2">
                <li class="list-group-item list-group-item-primary">Datos de la factura</li>
                <li class="list-group-item">
                  <form>
                    <div class="form-row">
                      <div class="col-md-9 mb-3">
                        <label for="inlineFormInputDireccion">Dirección</label>
                        <input type="text" class="form-control" id="inlineFormInputDireccion"
                          [(ngModel)]="factura.direccion" name="direccion" placeholder="Dirección">
                      </div>
                      <div class="col-md-3 mb-3">
                        <label for="inlineFormInputCodigoPostal">Código Postal</label>
                        <input type="text" class="form-control" id="inlineFormInputCodigoPostal"
                          [(ngModel)]="factura.codigoPostal" name="codigoPostal" placeholder="00000">
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-md-5 mb-3">
                        <label for="inlineFormInputTelefonoEmpresa">Teléfono</label>
                        <input type="text" class="form-control" id="inlineFormInputTelefonoEmpresa"
                          [(ngModel)]="factura.telefono" name="telefono" placeholder="Teléfono">
                      </div>
                      <div class="col-md-4 mb-3">
                        <label for="inlineFormInputCiudadEmpresa">Ciudad</label>
                        <input type="text" class="form-control" id="inlineFormInputCiudadEmpresa"
                          [(ngModel)]="factura.ciudad" name="ciudad" placeholder="Ciudad">
                      </div>
                      <div class="col-md-3 mb-3">
                        <label for="inlineFormInputPaisEmpresa">País</label>
                        <input type="text" class="form-control" id="inlineFormInputPaisEmpresa"
                          [(ngModel)]="factura.pais" name="pais">
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-md-6 mb-3">
                        <label for="inlineFormInputEmailEmpresa">Email</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">@</div>
                          </div>
                          <input type="text" class="form-control" id="inlineFormInputEmailEmpresa"
                            [(ngModel)]="factura.emailEmpresa" name="emailEmpresa" placeholder="Email">
                        </div>
                      </div>
                      <div class="col-md-6 mb-3">
                        <label for="inlineFormInputWebEmpresa">Web</label>
                        <input type="text" class="form-control" id="inlineFormInputWebEmpresa"
                          [(ngModel)]="factura.webEmpresa" name="webEmpresa" placeholder="Web">
                      </div>
                    </div>
                  </form>
                </li>
              </ul>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-sm-12">
              <div class="card card-body">
                <div class="grid-table">
                  <div class="thead">
                    <div class="tr">
                      <div class="td" style="width: 450px;">Concepto</div>
                      <div class="td" style="width: 100px;">Cantidad</div>
                      <div class="td" style="width: 140px;">Precio</div>
                      <div class="td" style="width: 160px;">Total</div>
                      <div class="td">
                        <button class="btn btn-outline-success" (click)="addItemFacturaForm()">
                          <i class="fa fa-plus"></i> Nuevo Producto
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="tbody">
                    <form class="tr" [formGroup]="fg" *ngFor="let fg of itemFacturaForms.controls; let i=index;"
                      (submit)="recordSubmit(fg, i)">
                      <div class="td">
                        <input class="form-control" placeholder="Concepto" formControlName="descripcion">
                      </div>
                      <div class="td">
                        <input class="form-control" placeholder="Cantidad" formControlName="cantidad"
                          (keyup)="updateTotal(fg)">
                      </div>
                      <div class="td">
                        <input class="form-control" placeholder="Precio" formControlName="precio"
                          (keyup)="updateTotal(fg)">
                      </div>
                      <div class="td">
                        <input class="form-control" style="text-align:right;" formControlName="total" readonly>
                      </div>
                      <div class="td">
                        <button type="submit" class="btn" [disabled]="fg.invalid"
                          [ngClass]="(fg.get('idItems').value==0)?'btn-success':'btn-outline-dark'"><i
                            class="far fa-save fa-lg"></i>
                          {{fg.get('idItems').value==0?'Guardar':'Update'}}
                        </button>
                        <button class="btn btn-light ml-1" (click)="onDelete(fg.get('idItems').value,i)">
                          <i class="far fa-trash-alt fa-lg text-danger"></i>
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4 offset-md-8">
              <li class="list-group-item" style="text-align:right;">
                <form>
                  <div class="form-group row">
                    <label for="colFormLabelSubTotal" class="col-sm-6 col-form-label">Subtotal</label>
                    <div class="col-sm-6">
                      <input type="text" style="text-align:right;" class="form-control" id="colFormLabelSubTotal"
                        [(ngModel)]="factura.subtotal" name="subtotal" readonly>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="colFormLabelIVa" class="col-sm-6 col-form-label">IVA %21</label>
                    <div class="col-sm-6">
                      <input type="text" style="text-align:right;" class="form-control" id="colFormLabelIVa"
                        [(ngModel)]="factura.iva" name="iva" readonly>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="colFormLabeltotalPagar" class="col-sm-6 col-form-label col-form-label-lg">Total a
                      pagar</label>
                    <div class="col-sm-6">
                      <input type="text" style="text-align:right;" class="form-control" id="colFormLabeltotalPagar"
                        [(ngModel)]="this.factura.totalPagar" name="totalPagar" readonly>
                    </div>
                  </div>
                </form>
              </li>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5 offset-md-3">
              <li class="list-group-item">
                <button type="button" class="btn btn-outline-success margin-left" (click)="generarFactura(1)">
                  <i class="fas fa-file-alt"></i> Abrir Factura
                </button>
                <button type="button" class="btn btn-outline-secondary margin-left" (click)="generarFactura(2)">
                  <i class="fas fa-print"></i> Imprimir
                </button>
                <button type="button" class="btn btn-outline-primary margin-left" (click)="generarFactura(3)">
                  <i class="fas fa-file-download"></i> Descargar
                </button>
              </li>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
